body {font-family: 'Roboto', sans-serif;
background-color: white;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.32px;
line-height: 1.5;}

.logo-1 {color: #4D5AE5;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;}

.logo-2 {color: #2E2F42;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;}

.logo-3 {color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;}

a {text-decoration: none;}

ul {list-style-type: none;}

.navigator ul {list-style-type: none;
color: #2E2F42}

.address {font-style: normal;
color: #434455;}

.order-service {background-color: #2E2F42;}
.page-title {color: white;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;}
.order-service-button {border-radius: 4px;
background:#4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}

.none {display: none;}
h3 {font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;}
h2 {font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;}
.our-team {
    background-color: #F4F4FD;
    text-align: center;
}
footer {background-color: #2E2F42;}

button {}